<div style="display: flex; align-items: center; padding: 12px 8px 4px 8px;">
	<img src="assets/artic_crystal_icon_dark.svg" alt="Artic" style="width: 60px; height: 60px; margin-right: 16px; flex-shrink: 0;" />
	<div>
		<strong style="font-size: 1.2em;">Artic</strong><br />
		Version: @@versionnr<br />
		<br />
		Build time stamp: @@timestamp<br />
		Build GIT SHA-1: @@sha1<br />
		Artic-websocket-protocol version: 0.0.2
	</div>
</div>
<div class="artic-text" style="padding: 8px;">
	<p>
		<b>Warning!</b> This webApp is still in ALPHA and is not meant to be used in production.<br />
		So please use with caution! If you have any issues or you find a bug please create an issue on the GitHub project page.
	</p>
	<h4>About</h4>
	<p>
		Artic is an online and offline web application for labeling, visualizing
		and correcting speech and derived speech data.
	</p>
</div>
