@use 'artic-design' as *;
@use 'font' as *;
@use 'mixins' as *;

.artic-expandHeightTo20px{
    height: 20px;
    @include vendor-prefix(transition, "height "+$animation-period+"ms");
}

.artic-shrinkHeightTo0px{
    height: 0;
    @include vendor-prefix(transition, "height "+$animation-period+"ms");
}

.artic-expandWidthTo200px{
    right: 0;
    @include vendor-prefix(transition, "right "+$animation-period+"ms");
}

.artic-shrinkWidthTo0px{
    right: -201px;
    @include vendor-prefix(transition, "right "+$animation-period+"ms");
}

.artic-opacityTo1{
    opacity: 1;
    @include vendor-prefix(transition, "opacity "+$animation-period+"ms");
}
