@use 'artic-design' as *;

.artic-font-small {
    font-family: $font-small-family;
    font-size: $font-small-size;
    font-weight: $font-small-weight;
}
.artic-font-large {
    font-family: $font-large-family;
    font-size: $font-large-size;
    font-weight: $font-large-weight;
}
.artic-font-code {
    font-family: $font-code-family;
    font-size: $font-code-size;
    font-weight: $font-code-weight;
}
.artic-font-input {
    font-family: $font-input-family;
    font-size: $font-input-size;
    font-weight: $font-input-weight;
}
