@use 'artic-design' as *;
@use 'font' as *;
@use 'mixins' as *;

.artic-largetextinputfield {

  background: pink;
  height: 10%;
  textarea{
    height: 100%;
    width: 100%;
    background: var(--color-yellow);
    border: none;
  }

}
