@use 'artic-design' as *;
@use 'font' as *;
@use 'mixins' as *;

.allLevelCanvasesGrid {
  display: grid;
  border: 1px solid #D7B17C;
  background-color: #F1EFE4;
  margin-top: 25px;

  .levelCanvasGrid {
    display: grid;
    border: 1px solid #D7B17C;
    background-color: rgba(215, 177, 124, 0.4);
    color: #000000;
    height: 64px;
    grid-template-columns: 1fr 20px;
    .levelCanvasArea{
      border: 1px solid #D7B17C;
    }
    .levelCanvasButtonGrid {
      border: 1px solid #D7B17C;
      display: grid;
      height: 100%;
    }
  }
}
