@use 'artic-design' as *;
@use 'font' as *;
@use 'mixins' as *;

div.printTitle { 
    display: none 
}

@media print {
    div.printTitle {
        display: block;
        position: running(printTitle);
    }
    @page {
        size: auto;
        margin: 0.5cm;
        margin-left: 1cm;
        text-align: center;
    }
  
    html, body { 
        width: 100%; 
        height: 100%; 
        text-align: center; 
    }
   
    html, body, ul, ol, li, form, fieldset, legend { 
        margin: 0; 
        padding: 0; 
    }
  
    .artic-bundleListSideBarOuter,
    .artic-progressBar,
    .artic-menuBarTop,
    .artic-menuBarBottom,
    .artic-split-handler,
    .artic-filter,
    .artic-bundle-outer,
    .artic-top-menu,
    .artic-right-menu,
    .artic-bottom-menu,
    .artic-timelineCanvasButtons,
    .artic-rightSideMenuOpenBtn,
    .artic-levelButtonsContainer,
    .artic-canvasSelectors,
    .artic-levelResizeBtn,
    .artic-levelButtonsContainer { 
        display: none !important; 
        height: 0 !important;
        width: 0 !important;
    } 
  
    .artic-timeline-flexitem { 
        margin-bottom: 3px;
    }  
   
    .artic-bottomPane { 
        margin-top: 0;
        background-color: pink;
    }
}
