@use 'artic-design' as *;
@use 'font' as *;
@use 'mixins' as *;

/** ###############################
    progress thing CSS
    see: progress thing directive
    ############################### */

.artic-progressBar {
    background-color: var(--color-grey);
    color: var(--color-white);
    width: 100%;
    height: 20px;
    @extend .artic-font-input;
    font-weight: 900;

    background-image: -webkit-linear-gradient(
        -45deg,
        var(--color-black) 25%,
        transparent 25%,
        transparent 50%,
        var(--color-black) 50%,
        var(--color-black) 75%,
        transparent 75%,
        transparent
    );
    background-image: -moz-linear-gradient(
        -45deg,
        var(--color-black) 25%,
        transparent 25%,
        transparent 50%,
        var(--color-black) 50%,
        var(--color-black) 75%,
        transparent 75%,
        transparent
    );
    background-image: -ms-linear-gradient(
        -45deg,
        var(--color-black) 25%,
        transparent 25%,
        transparent 50%,
        var(--color-black) 50%,
        var(--color-black) 75%,
        transparent 75%,
        transparent
    );
    background-image: linear-gradient(
        -45deg,
        var(--color-black) 25%,
        transparent 25%,
        transparent 50%,
        var(--color-black) 50%,
        var(--color-black) 75%,
        transparent 75%,
        transparent
    );
    @include vendor-prefix(background-size, "50px 50px");
    @include vendor-prefix(animation, "artic-move 2s linear infinite");
    @include vendor-prefix(box-shadow, "inset 0 6px 6px "+var(--color-transparent-lightGrey));
    overflow: hidden;
}

/*
Animate the stripes
*/   
@-webkit-keyframes artic-move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}    
@-moz-keyframes artic-move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}    
@-ms-keyframes artic-move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}    
@keyframes artic-move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}  

.artic-animationRunning {
    @include vendor-prefix(animation-play-state, "running");
}

.artic-animationStopped {
    @include vendor-prefix(animation-play-state, "paused");
}
